<p *ngIf = "errors">{{errors}}</p>
<form (ngSubmit) = "editProduct(curProduct._id, curProduct)">
	<p>{{curProduct.title | json}}</p>
	Name:	<input type="text" name = "curProduct.title" [(ngModel)] = "curProduct.title">
	Price:<input type="text" name = "curProduct.price" [(ngModel)] = "curProduct.price">
	Image URL:<input type="text" name = "curProduct.imageUrl" [(ngModel)] = "curProduct.imageUrl">
	<button class = "waves-effect waves-teal btn-flat" type = "submit">Save Product</button>
	<button class = "waves-effect waves-teal btn-flat" [routerLink]="['/']">Cancel</button>
</form>
